<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Người dùng</title>
</head>
<body>
	<section>
		<div class="container-fluid mt-5 p-4">
			<div class="card card-sh border-0 shadow-sm">
				<div class="card-header text-center bg-primary text-white">
					<p class="fs-4 fw-bold mb-0" th:if="${userType==1}">Danh sách người dùng</p>
					<p class="fs-4 fw-bold mb-0" th:if="${userType==2}">Danh sách quản trị viên</p>
				</div>
				<div class="card-body p-4">
					<th:block th:if="${session.succMsg}">
						<div class="alert alert-success text-center">[[${session.succMsg}]]</div>
						<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>

					<th:block th:if="${session.errorMsg}">
						<div class="alert alert-danger text-center">[[${session.errorMsg}]]</div>
						<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>

					<div class="table-responsive">
						<table class="table table-bordered table-hover align-middle text-center">
							<thead class="table-primary">
								<tr>
									<th scope="col">STT</th>
									<th scope="col">Hồ sơ</th>
									<th scope="col">Tên</th>
									<th scope="col">Email</th>
									<th scope="col">Số điện thoại</th>
									<th scope="col">Địa chỉ</th>
									<th scope="col">Trạng thái</th>
									<th scope="col">Thao tác</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="u,c:${users}">
									<th scope="row">[[${c.count}]]</th>
									<td><img th:src="@{'/img/profile_img/'+${u.profileImage}}" width="60px" height="60px" class="rounded-circle shadow-sm" style="object-fit: cover;"></td>
									<td class="fw-bold">[[${u.name}]]</td>
									<td>[[${u.email}]]</td>
									<td>[[${u.mobileNumber}]]</td>
									<td>[[${u.address+', '+u.city+', '+u.state+', '+u.pincode}]]</td>
									<td>
										<span th:if="${u.isEnable}" class="badge bg-success px-2 py-1">Hoạt động</span>
										<span th:unless="${u.isEnable}" class="badge bg-danger px-2 py-1">Vô hiệu</span>
									</td>
									<td>
										<a th:href="@{'/admin/updateSts?status=true&id='+${u.id}}+'&type='+${userType}" class="btn btn-sm btn-primary mb-1"><i class="fa-solid fa-check"></i> Hoạt động</a> 
										<a th:href="@{'/admin/updateSts?status=false&id='+${u.id}}+'&type='+${userType}" class="btn btn-sm btn-danger mb-1"><i class="fa-solid fa-ban"></i> Vô hiệu</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>