<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Quên mật khẩu</title>
</head>
<body>
	<section>
		<div class="container mt-5 p-5">
			<div class="row justify-content-center">
				<div class="col-md-6 mt-3">
					<div class="card auth-card">
						<div class="card-header">
							<p class="fs-4 text-center mb-0">Quên mật khẩu</p>
						</div>
						<div class="card-body p-4">
							<th:block th:if="${session.succMsg}">
								<p class="text-success fw-bold text-center alert alert-success">[[${session.succMsg}]]</p>
								<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>

							<th:block th:if="${session.errorMsg}">
								<p class="text-danger fw-bold text-center alert alert-danger">[[${session.errorMsg}]]</p>
								<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>

							<form action="/forgot-password" method="post">
								<div class="mb-4">
									<label class="form-label fw-bold">Nhập email của bạn</label> 
									<input required="required" class="form-control" name="email" type="email" placeholder="Ví dụ: email@domain.com">
								</div>
								<div class="text-center">
									<button type="submit" class="btn btn-primary w-100 py-2 fs-5">Gửi liên kết</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>